<%- include('./part/heder'); %>
    </head>

    <body>

        <nav class="navbar navbar-expand-lg" style="background-color: rgb(155, 155, 155);">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="color:black;">Home</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <% if(isUser) {%>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Cart" style="color:black;">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Cart/Order" style="color:black;">Order</a>
                            </li>
                            <% } else{%>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login" style="color:black;">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./Suinup" style="color:black;">Sign Up</a>
                                </li>
                                <% } %>

                                    <% if(isAdmin){ %>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/Admin/Add-prodect" style="color:black;">Add Prodect</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="/Cart/MangeOrder" style="color:black;">Mange Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/User" style="color:black;">Users</a>
                                        </li>
                                        <% } %>

                                            <% if(isUser){ %>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/profile" style="color:black;">Profile</a>
                                                </li>
                                                <% } %>



                                                    <% if(isUser){ %>
                                                        <form action="/logout" method="post" style="margin-left: 50px;">
                                                            <input type="submit" value="Logout" class="btn btn-danger">
                                                        </form>
                                                        <% } %>
                    </ul>

                </div>
            </div>
        </nav>

        <br>

        <form action="/" method="get">
            <select name="category" id="" style="margin-left:110px; width: 200px; height: 30px;">
        <option value="all">All</option>
        <option value="phone">Phone</option>
        <option value="car">Car</option>
        <option value="Honyey">Honey</option>
        <option value="Schert">Shirt</option>
        <option value="Rabet">Rabet</option>
      </select>
            <input type="submit" value="Filter" class="btn btn-primary" style="height: 34px; margin-left: 20px;">
        </form>
        <br>
        <br>
        <br>


        <h4 style="margin-left: 100px; margin-bottom: 15px;">All Addres</h4>
        <form action="/Cart/Order" method="post">
            <input type="text" name="Addres" id="" style="margin-left: 100px;">
            <input type="text" name="AddresAll" id="" style="margin-left: 100px;">
            <input type="text" name="City" id="" style="margin-left: 100px;">
            <input type="text" name="Mobaile" id="" style="margin-left: 100px;">
            <input type="text" name="Street_and_neighborhood" id="" style="margin-left: 100px;">
            <input type="hidden" name="name" value="<%= Data.name %> ">
            <input type="hidden" name="amount" value="<%= Data.amount %> ">
            <input type="hidden" name="price" value="<%= Data.price %> ">
            <input type="hidden" name="taimstamp" value="<%= Data.taimstamp%> ">
            <input type="hidden" name="AllPrice" value="<%= Data.AllPrice %> ">
            <input type="hidden" name="ProdectId" value="<%= Data.ProdectId %> ">
            <input type="hidden" name="userId" value="<%=Data.userId%>">
            <input type="submit" value="Send">

        </form>




    </body>

    </html>